@font-face {
    font-family: 'Baskerville-Bold';
    src: url('fonts/Baskerville-Bold.ttf'); 
}

@font-face {
    font-family: 'Baskerville';
    src: url('fonts/Baskerville.ttf'); 
}

body{
    display: grid;
    place-items: center;
    font-family: 'Baskerville';
}

.container{
    width: clamp(100px, 50%, 650px);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

h1 {
    text-align: center;
    font-family: 'Baskerville-Bold';
    font-size: 3.5em;
    color: #0A6E54;
}

.author{
    color: #cfcfcf;
    text-decoration: none;
    text-align: right;
    margin-right: 60px;
}

p {
    font-family: 'Baskerville';
    text-align: justify;
    line-height: 1.5em;
    font-size: 1.1em;
}

.divider{
    border: 1px solid #ebebeb;
    width: 500px;

}

.plotly{
    width: 90%;
}

.image-row{
    display: flex;
    padding: 10px;
}

.image-column{
    display: inline-block;
    padding: 5px;
}

figcaption{
    font-family: 'Baskerville-Bold';
    text-align: center;
}

.footnote{
    font-size: 0.8em;
}

.infolayer [class^='y'][class$='title'] {
    transform: rotate(0deg) translate(16px, -30px);
  }
  


